/* 单一选择器示例 */
h2 {                    /* h2 称为选择器，选择 h2 级别的标题作为修改对象 */
                        /* {} 内为属性和修改值 */
    color:blue;       /* 颜色 */
    width:auto;         /* 自动宽度 */
    border:1px solid black;     /* 边线线宽和颜色 */
}

/* 多选择器示例 */
h1, p, li{              /* 修改器可选择多个对象 */
    color:chocolate
}

/* 不同的选择器 */


/* 字体和文本 */


/* 盒子 */


/* 页面颜色 */


/* Body格式 */


/* 主标题样式 */


/* 图像居中 */


